*{background-color: #313940;}

.img{
    height: 35px;
    width: 35px;
}

.cabecalho{
    display: flex;
    justify-content: left;
    padding: 15px;
    background-color: #313940; 
    color: white;
    
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    border: black;  
    background-color: #e2e2e2;
}

.texto{
    color: black;
    border-radius: 10px;
    border: black;
    padding: 8px;
    text-align: center;
    background-color: white;
    
}

.texto2{
    color: black;
    border-radius: 10px;
    border: black;
    padding: 30px;
    text-align: center;
    background-color: white;
}

.campos-experiencia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.campos-formacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}